/* body{
  margin: 0;
  background-color: black;
  justify-content: center;
}

.titulo{
  font-family: sans-serif;
  color:rgb(253, 251, 252);
  margin-top:0.5%;
  text-align:center;
}

.subtitulo{
  font-family: sans-serif;
  color: red;
  margin-top:-1%;
  text-align:center;
}

fieldset{
 margin-left:42.5%;
 border:0;
 max-width:180px;
 color:rgb(75, 241, 9);
}

.lugar{
  margin-left:42.2%;
  color:red;
}

.Selecionar{
  margin-left:42.2%;
  color:greenyellow;
}

.final{
  margin-left:43%;
  color:rgb(211, 5, 234);
}

.button{
  color:aqua;
  margin-left:46.5%;
  padding:0.2em 0.6em;
  text-decoration: none;
  border: 2px solid;
}

@media screen and (min-width:320px) and (max-width:768px){

  fieldset{
    margin-left: 21%;  
  }

  .lugar{
    margin-left:24.2%;
  }

  .Selecionar{
    margin-left:24.2%;
  }

  .final{
    margin-left:24.2%;
  }

  .button{
    margin-left:33%;
  }
}

@media screen and (min-width: 1920px) {
  fieldset{
    margin-left: 45%;
    margin-top:5%;
  }

  .lugar{
    margin-left:45%;
    margin-top:0.5%;
  }

  .Selecionar{
    margin-left:45%;
    margin-top:0.5%;
  }

  .final{
    margin-left:45%;
    margin-top:0.5%;
  }

  .button{
    margin-left:47%;
  } */

  .login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
  
  .login__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .login__header h1 {
    color: #333;
    font-size: 1.5em;
  }
  
  .login__input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
  }
  
  .login__button {
    background-color: #ee665c;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
  }
  
  .login__button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }